.playlists-container {
  position: relative;
  display: block;
  width: 100%;
}

.playlists-container .work-interface {

}

.playlists-container .music-interface {

}

.playlists-container .work-interface .work-header {

}

.playlists-container .work-interface .list-container {

}

.playlists-container .music-interface .music-container {
  
}